.container {

}

.banner-text {

	font-weight: bolder;
	color: white;	
}

.form-control {

	margin-top: 5%;
	padding: 2%;
}

.row {

	display: flex;
	justify-content: center;
}

.card {

	margin: 9%;
}

.roundedcard {
	border-radius: 20px !important;
	margin-top: 9%;
}


.text-center {

	padding: 5%;
}

#text-box {

	margin-left: 36%;
}

#circleBanner {

	position: absolute;
	margin-top: 7%;
}

#footer-row {

	margin: auto;
}

/*====Employer profile added styles====*/
.container-big{
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

.innercolumn{
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
}

.centralcolumn{
	margin-top: 0;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 2%;
	padding-bottom: 8%;
}

.tinytext{
	font-size: .8em;
}